@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#main_header {
    background: gray;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

#main_header > nav {
    background: darkblue;
    float: left;
    color: white;
    width: 100%;
    height: 100px;
}

#main_header > nav > div {
    float: left;
    width: 33.33%;
}

#main_header > nav > div li {
    float: left;
    padding: 0 10px;
}

#logo {
    font-size: 30px;
}

#main_header > #main_promo {
    overflow: hidden;
    width: 100%;
}

#main_header > #main_promo > div {
    float: left;
    width: 33.33%;
    height: 600px;
}

#main_header > #main_promo > div:nth-child(1) {
    background: #ffebda;
}
#main_header > #main_promo > div:nth-child(2) {
    background: #ffff7c;
}
#main_header > #main_promo > div:nth-child(3) {
    background: palevioletred;
}

#main_content {
    width: 1280px;
    margin: 0 auto;
    background: #c9b4b4;
}

#main_content > section {
    margin: 30px auto;
}

#magazine {
    background: greenyellow;
    overflow: hidden;
    height: 400px;
    width: 1280px;
}

#main_content > section div {
    float: left;
    margin: 5px;
    background: white;
    width: 300px;
    height: 300px;
    
}

#story {
    background: lightcoral;
    overflow: hidden;
    height: 400px;

}

#promotion {
    background: lightblue;
    overflow: hidden;
    height: 400px;

}

#product {
    background: lightseagreen;
    overflow: hidden;
    height: 400px;

}

#sns {
    background: lightsalmon;
    width: 500px;
    margin: 0 auto;
    height: 400px;
}

#notice {
    width: 100%;
    height: 100px;
    background: #a07ca1;
    overflow: hidden;
}

#notice > div {
    float: left;
    width: 33.33%;
}

footer {
    width: 100%;
    height: 450px;
    background: #3b3b3f;
    color: white;
}
