@charset "UTF-8";
/* CSS 파일에 기본으로 들어가는 문구. */

/* 사이트에 기본적으로 항상 보이는 헤더와 푸터를 여기에 설정 */

/* 초기화 코드 */
* {
    margin: 0; padding: 0;
    font-family: Arial, 'san-serif';
    /* box-sizing을 초기화로 해놔야 사이즈 계산을 덜한다 */
    box-sizing: border-box;
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* 헤더 */
#main_header {
    height: 390px;
    background: gray;
    color: white;
    background: url('../img/1024x450.jpg');
    background-size: cover;
}

#main_header a {
    color: white;
}

#main_header > .gnb_container {
    background: black;
    height: 60px;
    width: 100%;
    position: fixed;
    /* fixed 할 때는 width를 100%로 줘야 전체 가로로 나온다 */
    z-index: 1;
    /* 기본이 0이니까 1을 주면 맨 앞으로 온다 */
    border-bottom: 1px solid #2b2b2b;
}

#main_header .gnb {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 960px;
}

#main_header .gnb .logo {
    float: left;
    width: 190px;
    margin-top: 12px;
}

#main_header .gnb ul.nav {
    float: left;
    overflow: hidden;
    padding: 0 60px;
    width: calc(100% - 217px);
    /* 로고와 세팅 이미지 너비의 합이 217. 고정시키고 싶은 둘만 제외하고 나머지는 반응형으로 비율을 늘렸다 줄였다 할 수 있다 */
}

#main_header ul.nav > li {
    float: left;
    padding: 18px 17px;
    width: 33.33%;
    text-align: center;
}

#main_header ul.nav > li > .lnb {
    padding: 27px 0;
    background: black;
    height: 167px;
    display: none;
}

#main_header ul.nav > li:hover > .lnb {
    display: block;
}

#main_header ul.nav > li:hover > .lnb > li {
    padding: 3px;
}

#main_header .setting {
    float: right;
    width: 23px;
    text-align: right;
    padding-top: 12px;
}

#main_header .trigger {
    float: right;
    width: 23px;
    text-align: right;
    padding-top: 4px;
    display: none;
}

#main_header .trigger .close {
    display: none;
}

/* Fade in 애니메이션 */
.appear {
    /* fade-in은 js 변수처럼 이름을 임의로 지정해주는 것 */
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#main_footer {
    height: 150px;
}

#main_footer > div:nth-child(1) {
    background: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#main_footer > div:nth-child(2) {
    background: white;
    height: 100px;
    padding-top: 30px;
}

#main_footer > div:nth-child(2) > div {
    width: 100%;
    font-size: 13px;
    text-align: center;
}



/* 미디어 쿼리. 이렇게 3개가 디폴트 사이즈 */
/* 주의점 : 미디어 쿼리는 반드시 기본 설정보다 아래에 작성해야 한다. 캐스케이딩 특성상 그보다 위에 작성하면 적용 안 됨 */
@media screen and (max-width: 767px) {
    #main_header {
        background: url('../img/425x450.jpg');
        background-size: cover;
    }

    #main_header .gnb {
        width: 90vw;
    }

    #main_header ul.nav {
        display: none;
    }

    #main_header .setting {
        display: none;
    }

    #main_header .trigger {
        display: block;
    }

    #main_footer > div:nth-child(2) > div {
        font-size: 11px;
        text-align: left;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main_header {
        background: url('../img/768x450.jpg');
        background-size: cover;
    }

    #main_header .gnb {
        /* vw (viewport width) : 뷰포트에서 90%만큼 보여주겠다 */
        /* %는 부모태그를 기준으로 90%만큼 보여주는 것이라, 부모태그가 100%면 동일한 결과가 나온다. */
        /* 반응형에서 vw, vh는 자주 쓰인다!! */
        width: 90vw;
    }

    #main_header ul.nav {
        padding: 0 30px;
    }

    #main_footer > div:nth-child(2) > div {
        font-size: 12px;
    }

}

@media screen and (min-width: 1024px) {
    
}