@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap');

/* 메뉴바 참고하기 좋은 사이트 */
/* https://codepen.io/tag/submenu */
/* https://www.sliderrevolution.com/resources/css-menu/ */
/* scss 변환 사이트: https://www.sassmeister.com/ */

/* 디폴트 사이즈 : 모바일 (0~766px) */

.button--shape-red {
	background-color: #e91b1b; 
	border: none;
	color: white;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.button--shape-beige {
	background-color: transparent; 
	border: 1px solid rgb(122, 122, 98);
	color: white;
	padding: 9px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.button--shape-white {
	background-color: #ffffff; 
	border: none;
	color: black;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.font--gothic {
	font-family: 'Nanum Gothic', monospace, sans-serif;
}

.font--jua {
	font-family: 'Jua', monospace;
}

/* 헤더 */

.header {
    background: white;
    position: fixed;
    width: 100%;
    /* 포지션 fixed 쓰려면 width를 반드시 100%로 해야 한다 */
    z-index: 2;
    /* 슬라이더가 1이 기본이어서 */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* 모바일 메뉴 */

.header__Mnav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(240,240,240);
    /* 모바일이나 태블릿은 손으로 내리고 스크롤이 따로 안 보여서 pc 화면에서 스크롤이 보여도 신경 안 써도 된다 */
}

.header__Mnav > .trigger {
    height: 60px;
    background-color: white;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.mobile {
    border: 0;
    /* 버튼의 테두리선 없애는 것 */
    outline: 0;
    /* transparent는 투명을 뜻함 */
    background-color: transparent;
}

.header__Mnav > .trigger > .mobile.close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.2rem;
}

.header__Mnav > .Mmenu {
    /* 상위 메뉴를 눌러서 메뉴 길이가 길어졌을 때 스크롤을 만들어준다(그래야 다 볼 수 있음) */
    overflow: auto;
    height: 100%;
}

.header__Mnav .Mmenu__main {
    padding: 20px 0 0 20px;
    /* 나중에 메뉴 길어졌을 때 안 잘리기 위해 margin-bottom 설정 */
    margin-bottom: 100px;
}

.header__Mnav .Mmenu__main > li {
    padding: 20px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
    /* 하위메뉴에서 absolute 쓰려고 relative 지정 */
    position: relative;
}

.header__Mnav .Mmenu__main > li > span:nth-of-type(1) {
    font-size: 1.7em;
    margin-bottom: 10px;
    /* margin 주려고 inline-block */
    display: inline-block;
}

.header__Mnav .Mmenu__main > li > span:nth-of-type(2) {
    position: absolute;
    right: 10px;
}

.header__Mnav .Mmenu__main > li > .Mlist__drop {
    padding-left: 20px;
}

.header__Mnav .Mmenu__main > li > .Mlist__drop > li {
    font-size: 1.5rem;
    padding: 5px;
}

.header__Mnav .Mmenu__main > li:nth-child(1) > .Mlist__drop {display: none;}
.header__Mnav .Mmenu__main > li:nth-child(4) > .Mlist__drop {display: none;}
.header__Mnav .Mmenu__main > li:nth-child(5) > .Mlist__drop {display: none;}

/* 공통 메뉴 */

.header__nav {
    /* 반응형에서는 max-width 많이 쓴다. 이 이상 늘어나지 않게 하는 기능과 동시에 width와 달리 처음의 작은 화면에서는 알아서 줄였다가 1200px까지 늘리는 작용을 하므로, 작은 화면일 때 가로 스크롤이 생기지 않는다. */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* 방향은 디폴트라 안 해도 된다. */
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 12px;
}

.header__nav > div, .header__nav > h1 {
    width: 33.33%;
}

.header__nav > h1 {
    text-align: center;
}

.header__nav > h1 img {
    width: 50px;
}

.header__nav > .menu > .delivery-order {
    text-align: right;
}

.header__nav .menu__main {
    display: none;
}

.header__nav .delivery-order > .button {
    border-radius: 35px;
    font-size: 0.5em;
    /* padding과 font-weight는 아래의 설정이 우선 순위로 적용 */
    padding: 8px;
    font-weight: bold;
}

/* 푸터 */

.footer {
    height: 680px;
    background: rebeccapurple;
}

/* 미디어쿼리 */

/* 태블릿 : 767px 이상 */
@media all and (min-width: 767px) {
    .header__Mnav {
        display: none;
    }
    
    .header__nav > .trigger {
        display: none;
    }

    .header__nav {
        height: 120px;
        padding: 0;
    }

    .header__nav > h1 img {
        width: 80px;
    }

    .header__nav > .menu {
        /* 로고 칸 너비를 빼고 유동적으로 움직이게 */
        width: calc(100% - 100px);
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__nav > .menu > nav {
        /* 1100px ÷ 1200px */
        /* 딜리버리 주문 칸 너비를 빼고 유동적으로 움직이게 */
        width: calc(100% - 168px);
    }

    .header__nav nav > .menu__main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.3em;
        height: 70px;
        /* 패딩을 써서 가운데로 오게 했음. flex 수직 정렬 설정을 써도 됨 */
        padding: 50px 35px 0;
    }

    .header__panel {
        height: 280px;
        display: none;
    }

    .header__nav > .menu > .delivery-order {
        width: 168px;
        /* 모든 설정에서 unset은 아무것도 세팅되지 않은 상태, 초깃값으로 되돌리는 기능 */
        text-align: unset;
    }

    .header__nav .delivery-order > .button {
        border-radius: 35px;
        margin-top: 15px;
        font-size: 1.2em;
    }

    .header__nav > .menu .main__list {
        position: relative;
    }

    .header__nav > .menu .main__list .list__drop {
        position: absolute;
        top: 60px;
        /* 너비 높이를 강제로 지정하면 하위메뉴가 정렬이 된다 */
        width: 232px;
        height: 260px;
        display: none;
    }

    .header__nav > .menu .main__list .list__drop > li {
        padding: 5px 5px 5px 0;
    }

    .header__nav > .menu .main__list .list__drop > li > a {
        font-size: 0.8em;
        font-family: 'Nanum Gothic', monospace, sans-serif;
        font-weight: bold;
        color: rgb(26,26,26);
    }

    .header__nav > h1 {
        /* 로고의 너비가 줄어들면서 메뉴가 자리를 잡는다 */
        width: 100px;
        height: 120px;
        line-height: 120px;
    }

    .header__nav > h1 .logo {
        /* 로고가 중앙으로 오게 수직정렬 해주는 것 */
        vertical-align: middle;
    }
}

/* PC : 1024px 이상 */
@media all and (min-width: 1024px) {
    .header__nav nav > .menu__main {
        padding: 50px 60px 0;
    }
}